<div class="container-fluid bg-black">
   <div class="footer-info d-flex justify-content-around flex-column p-5">
    <div class="text-white m-2"> Question?CALL <u> 000000</u></div>
    <div class="list d-flex flex-row justify-content-around text-white p-5">  
      
       <div>
        <ul><li><a href="#">FAQ</a></li>
            <li><a href="#">Help Centre</a></li>
            <li><a href="#">Account</a></li></ul>
       </div>
       <div >
        <ul>
            <li><a href="#">Media Centre</a></li>
            <li><a href="#">Investor Relations</a></li>
            <li><a href="#">Jobs</a></li>
            <li><a href="#">Ways to Watch</a></li>
          </ul>
       </div>
       <div >
        <ul>
            <li><a href="#">Terms of Use</a></li>
            <li><a href="#">Privacy</a></li>
            <li><a href="#">Cookie Preferences</a></li>
            <li><a href="#">Corporate Information</a></li>
          </ul>
       </div>
       <div>
        <ul>
            <li><a href="#">Contact Us</a></li>
            <li><a href="#">Speed Test</a></li>
            <li><a href="#">Legal Notices</a></li>
            <li><a href="#">Only on Netflix</a></li>
          </ul>
       </div>
    </div>
    <div class="dropdown">
        <button class=" m-1 btn btn-outline-secondary dropdown-toggle text-white" type="button" data-bs-toggle="dropdown" aria-expanded="false">
            <i class="bi bi-translate"></i>
            English
        </button>
        <ul class="dropdown-menu ">
          <li><a class="dropdown-item text-dark fw-bold" href="#">ENGLISH</a></li>
          <li><a class="dropdown-item text-dark fw-bold" href="#">Hindi</a></li>
        
        </ul>
      </div>
   </div>
</div>
